{% comment %}
  DO NOT MODIFY MANUALLY
  This asset is generated automatically by Talkable Integration at 6/15/21 5:10PM
{% endcomment %}
<div class="container">
  <h1>{{ page.title }}</h1>

  <div class="rte">
    <div id="talkable-offer"></div>
  </div>
</div>